extends layout

block nav
  a(href='/tracker', class='btn btn-success', id='trackerStart') Tracker

block content
  div.container
    table#inpControl.table.table-condensed
      thead
        tr
          td Real Value of Loot
          td Estimated Total
          td % of Estimated
      tbody
        tr
          td.vralCont
            input(type='text', class='form-control', id='totalRVal')
          td.globalTotal 0
          td.globalPer percent
    table#payouts.table.table-striped.table-hover.table-bordered.table-condensed
      thead
        tr
          td ID
          td Date
          td Load
          td Update
          td Paid Status
          td Est. Total
          td Final Total
          td % of Est.
      tbody
        include _historytbody
  script(src='/js/historyjs.js')