extends layout

block content
  div.panel.panel-default.lrpanel
    ul.nav.nav-tabs
      li.active.log 
        a(href='#') Login
      li.reg 
        a(href='#') Register
    div.logcont.panel-body
      form(action='/login', method='post', role='form')
        div.input-group
          span.input-group-addon Username:
          input(type='text', name='username', class='form-control', placeholder='Enter username', id='loginUser')
        div.input-group
          span.input-group-addon.passadd Password:
          input(type='password', name='password', class='form-control', placeholder='Password', id='loginPassword')
        button(type='submit').btn.btn-default Submit
    div.regcont.panel-body
      form(action='/register', method='post', role='form')
        div.input-group
          span.input-group-addon Username:
          input(type='text', name='username', class='form-control', placeholder='Enter username', id='registerUser')
        div.input-group
          span.input-group-addon Email:
          input(type='email', name='email', class='form-control', placeholder='Enter email', id='registerEmail')
        div.input-group
          span.input-group-addon Password:
          input(type='password', name='password', class='form-control', placeholder='Password', id='registerPassword')
        div.input-group
          span.input-group-addon Eve Main Account:
          input(type='text', name='evename', class='form-control', placeholder='Enter EVE main account', id='registerEve')
        div.input-group
          span.input-group-addon Register Phrase:
          input(type='text', name='phrase', class='form-control', placeholder='Register phrase', id='registerPhrase')
        button(type='submit').btn.btn-default Submit
  script(src='/js/logregjs.js')