extends layout

block content
  h1 Login
  form(action='/login', method='post', role='form')
    div.form-group
      label(for='loginUser') Username:
      input(type='text', name='username', class='form-control', placeholder='Enter username', id='loginUser')
    div.form-group
      label(for='loginPassword') Password:
      input(type='password', name='password', class='form-control', placeholder='Password', id='loginPassword')
    button(type='submit').btn.btn-default Submit
  form(action='/register', method='post', role='form')
    div.form-group
      label(for='registerUser') Username:
      input(type='text', name='username', class='form-control', placeholder='Enter username', id='registerUser')
    div.form-group
      label(for='registerEmail') Email:
      input(type='email', name='email', class='form-control', placeholder='Enter email', id='registerEmail')
    div.form-group
      label(for='registerPassword') Password:
      input(type='password', name='password', class='form-control', placeholder='Password', id='registerPassword')
    div.form-group
      label(for='registerEve') Eve Main Account:
      input(type='text', name='evename', class='form-control', placeholder='Enter EVE main account', id='registerEve')
    div.form-group
      label(for='registerPhrase') Register Phrase:
      input(type='text', name='phrase', class='form-control', placeholder='Register phrase', id='registerPhrase')
    button(type='submit').btn.btn-default Submit