div.gc {
  width: 1170px;
  margin: 0 auto;
}
#mainNav {
  width: 1170px;
  height: 32px;
  background: #428bca;
  padding: 0 15px;
  position: relative;
  top: -1px;
  margin-bottom: 15px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#mainNav a {
  display: inline-block;
  padding: 5px;
  margin-right: 15px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
table tr td input {
  width: 40px;
}
#main tr td {
  text-align: center;
}
#main tr td.mname {
  width: 175px;
}
#main tr td.payout {
  width: 75px;
}
#main tr td button, #main tr td input {
  width: 54px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
#vals td.vReal input {
  width: 70px;
}
#delEntry {
  float: right;
}
h1#iid {
  margin-top: 0;
}

div#hload {
  display: none;
  -webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.75);
  position: absolute;
  width: 1190px;
  padding: 10px;
  top: 0;
  background: #FFF;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
  display: inline-block;
}
.tt-suggestion p.ta-date {
  text-align: right;
  float: right;
}

/* ---------- HISTORY STYLES ---------- */
#inpControl td.vralCont input {
  width: 170px;
}

/* ---------- SHOPPING LIST STYLES ---------- */
.person-tile {
  /*width: 218px; */
  width: 214px;
  min-height: 130px;
  padding: 0 15px 15px;
  margin: 0 10px 20px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.54);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.54);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.54);
  float: left;
  /*display: inline-block;*/
  border-radius: 3px;
  position: relative;
}
.person-tile.expanded {
  width: 446px;
  min-height: 280px;
}
/*.person-tile:nth-child(5n + 1) {
  margin-left: 0;
}
.person-tile:nth-child(5n) {
  margin-right: 0;
}*/
.person-tile.finished {
  background: #aee3b4;
}
.person-tile h3 {
  text-align: center;
}
.person-tile button.create, .person-tile button.update {
  position: absolute;
  top: -5px;
  left: 0;
  height: 8px;

  -moz-transition: height 0.35s;
  -webkit-transition: height 0.35s;
  -o-transition: height 0.35s;
  transition: height 0.35s;
}

.person-tile button.create:hover, .person-tile button.update:hover {
  height: 26px;
}
.person-tile button.remove, .person-tile button.edit {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;

  -moz-transition: height 0.35s;
  -webkit-transition: height 0.35s;
  -o-transition: height 0.35s;
  transition: height 0.35s;
}
.person-tile button.remove:hover, .person-tile button.edit:hover {
  height: 26px;
}
/*.person-tile ul li span.num {
  float: right;
}
.person-tile ul li a.deleteItem {
  float: right;
}*/
.person-tile label {
  padding: 2px 0;
}

.person-tile > button {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  margin: 5px 0 0 0;

  -moz-transition: height 0.35s;
  -webkit-transition: height 0.35s;
  -o-transition: height 0.35s;
  transition: height 0.35s;
}
.person-tile > button:hover {
  height: 26px;
}
.person-tile input.itemEnter {
  width: 289px;
}
.person-tile input.numberEnter {
  width: 92px;
}
/*
.person-tile button.edit {
  text-align: left;
}
.person-tile button.edit i {
  float: right;
  margin-top: 2px;
}
label.complete input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
div.totalInputCont {
  width: 100%;
  margin-bottom: 10px;
}
div.totalInputCont input {
  width: 79px;
}
.addItemMenu {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
}
.addItemMenu .addItemInput {
  width:93px;
}
.addItemMenu .addItemNumInput {
  width:70px;
}*/
input.itemCost {
  display: inline-block;
  width: 75px;
  height: 25px;
}
button.boughtToggle {
  width: 25px;
  height: 25px;
}